/* Shopping cart styling */
.shopping-cart {
  position: relative;
}

.shopping-cart-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed; /* Fixed position for top right corner */
  top: 10px;
  right: 10px;
  z-index: 2;
}

.shopping-cart-toggle img {
  width: 30px; 
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: navy; /* Navy blue CSUF color */
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
}

.shopping-cart-sidebar {
  background: white;
  border: 1px solid #ccc;
  position: fixed;
  top: 60px; 
  right: 10px;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles for the shopping cart content */
.shopping-cart h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: navy; /* Navy blue CSUF color */
}

.shopping-cart ul {
  list-style: none;
  padding: 0;
}

.shopping-cart li {
  margin-bottom: 10px;
  color: #333; /* Text color */
}

.shopping-cart button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

