/* Restaurant list's styling */
.restaurant-list h2 {
  font-size: 1.5rem;
}

.restaurant-list ul {
  list-style: none;
  padding: 0;
}

.restaurant-list li {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-list img {
  max-width: 100%;
}

.restaurant-list button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
